body {
	font-family:Roboto;
	font-weight:300;
	height:100%;
}


#top {
	position:absolute;
	left : 0;
	top:0;
	width:100%;
	height:28px;
}

.haut {
	font-family:Roboto;
	margin: 28px 28% 0 14%;
}


.fixe {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	background-color:black;
	display: inline;
	padding: 5px 0 5px 0;
}

.ul-navbar {
	display: inline;
}

li {
    display: inline;
}
.twitter {
	float: right;
	margin-right:10px;
}
.facebook {
	float: right;
}

.retour {
	font-family:Roboto;
	text-align: right;
	background-color:black;
	color:white;
	padding:15px 15px 15px 15px; 
}


.divPhoto {
	font-family:Roboto;
	text-align: center;
}

.sousPhoto{
	text-align: justify;
}

a {
	color:white;	
}
a:hover {
	color:white;
}

.idPhoto  {
	font-family:Roboto;
	font-weight:700;	
}

.artiste  {

	font-weight:400;	
}

.titre  {
	font-size:40px;	
}

.nbPhotos {
	font-weight:500;
}

.entete1{
	padding-top:30px;
	padding-bottom:20px;
}
.entete2{
	padding-bottom:30px;
}
.entete3{
	padding-bottom:25px;
}




