	body{margin-left:50px;}
		.h,.v{stroke:black;stroke-dasharray:4 4;stroke-width:1;stroke-opacity:.5;}
		.axis path,
		.axis line {
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
		}
		.axis text {
			font-family: sans-serif;
			font-size: 11px;
		}
	.circle:hover {
			fill: red ;
			r : 5;
		}
	.line:hover {
		 stroke: red;
		 stroke-width:3;
	}
	
	.d3-tip {
		line-height: 1;
		font-weight: bold;
		padding: 12px;
		background: rgba(0, 0, 0, 0.8);
		color: #fff;
		border-radius: 2px;
		text-align : center;
			}