body{margin:0px;}
?
  h1 {
    font-size: 20px;
    font-family: Roboto;
    color:#333;
    margin: 10px 0 0 10px;
  }
?
  p {
    font-size: 14px;
    margin: 10px 0 0 10px;
    color:#333;
    font-weight: 300;
    font-family: Roboto;
  }
?
.axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}
?
.axis text {
    font-family: Roboto;
    font-size: 11px;
    fill:#c3c3c3;
}
?
text {
	font-family:Roboto;
	color:#333;
}
?
.d3-tip {
	position : fixed;
	 top : 0;
   line-height: 1;
   font-weight: 300;
   font-family: Roboto;
   font-style: light;
   background-color: rgba(255,255,255,1);
   color: black;
   border-radius: 4px;
   font-size: 12px;
   padding: 8px 8px 8px 8px;
   border: 1px solid #ccc;
   line-height: 150%;
   height:50px;
}
?
.nom {
	font-weight:600;
}
?
.nomtrav {
	font-size:11px;
  color:#333;
}
?
/*.titre {
	text-align:center;
	font-family: Roboto;
	font-size:25px;
	font-weight: 600;
  color:#333;
	}*/
.source {
    font-family:Roboto;
    font-size: 10px;
    color:#c3c3c3;
    margin: 0 10px 0 10px;
}