 body { margin:0; padding:0; font-family:Roboto; font-weight:500;}
 #map { margin: 0 auto; border-style: solid; border-width: 2px; border-color:#AEE7EF ; border-radius: 5px;}
 #choix { margin: 0 auto; border-style: solid; border-width: 2px; border-color:#AEE7EF ; border-radius: 5px;}
  

  
 .last {
	 text-align: right;
	 padding-right:15%;
 }
 
 .button {
	 margin-left:.5%;
	 margin-right:.5%;
	 outline:none;
	 
 }
  .button:active {
  transform: translateY(2px);
 }
  
  .vertically_aligned {

    /* older webkit */
    display: -webkit-box;
    -webkit-box-align: center;

    /* older firefox */
    display: -moz-box;
    -moz-box-align: center;


    /* IE10*/
    display: -ms-flexbox;
    -ms-flex-align: center;

    /* newer webkit */
    display: -webkit-flex;
    -webkit-align-items: center;

    /* Standard Form - IE 11+, FF 22+, Chrome 29+, Opera 17+ */
    display: flex;
    align-items: center;
}